*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
/* img{
    border: 1px solid black;
} */

/* .newfon{
    font-family: 'Merriweather', serif;
} */

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  