*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
h1{
    /* text-shadow: 0 2px 2px black; */
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* span{
    align-items: center!important;
} */
li>a:hover{
    background-color: rgba(32, 218, 187, 0.377);
    border-radius: 15px;
    transition: 1s ease all;
}
a{
    font-family: 'Merriweather', serif;
}